body {
  margin: 0;
  padding: 0;
}

#container {
  background: url('img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

#countdown {
  color: #fff;
}
